.add-task {
    padding-bottom: 20px;
}

.todo-item {
    font-size: 150%;
}

a.todo-check {
    color: #dddddd;
    top: 5px;
    font-size: 125%;
    padding-right: 10px;
}

a.todo-check:hover {
    color: #d9230f;
}